html, body
{
    background-color: #E8F5E9;
    height: 100%;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  min-height: 180px;
  height: 25%;
  padding: 20px;
  color: white;
}

.App-primary-color {
  background-color: #4CAF50
}

.App-intro {
  font-size: large;
}

.App-body{
  height: auto;
  padding: 40px;
}

.App-body-color {
  background-color: #E8F5E9
}

.question-item {
  margin: 10px 0px
}

.inputs-card {
  text-align: center;
}

.fab {
    margin: 0px;
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
    z-index: 1000;
};

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
